@model Vkllesson07.Models.VklEmployee

@{
    ViewData["Title"] = "VklDetails";
}

<h1>VklDetails</h1>

<div>
    <h4>VklEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="VklIndex">Back to List</a>
</div>
