
@{
    ViewData["Title"] = "VklGetMembers";
}

<h2>Danh sách thành viên</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>MemberId</th>
        <th>Username</th>
        <th>Fullname</th>
        <th>Password</th>
        <th>Email</th>
    </tr>

    @foreach (var vklMember in Model)
    {
        <tr>
            <td>@vklMember.MemberId</td>
            <td>@vklMember.Username</td>
            <td>@vklMember.Fullname</td>
            <td>@vklMember.Password</td>
            <td>@vklMember.Email</td>
        </tr>
    }
</table>
