@model Vkllesson08.Models.VklAccount

@{
    ViewData["Title"] = "VklDetails";
}

<h1>VklDetails</h1>

<div>
    <h4>VklAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklAvatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklAvatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VklFacebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VklFacebook)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "VklEdit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="VklIndex" class="btn btn-secondary">Back to List</a>
</div>
